<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="gestor-modificar-usuario">
 <template>
   <style>
     :host {
       display: block;
     }
     span {color: #FFFFFF;}
     h1 {color: #FFFFFF;}
     h2 {color: #EC7063;}
     th {color: #FFFFFF;}
     td {color: ##21618C;}
   </style>
   <div align="center" bottom="middle">
     <p>
       [[mensaje]]
     </p>
      <br><br>
      <input placeholder="nombre" type="text" value="{{nombre::input}}"/>
      <br><br>
      <input placeholder="apellido" type="text" value="{{apellido::input}}"/>
      <br><br>
      <button on-click="actualizar">Actualizar</button>
      <br><br>
      <button on-click="borrar">Borrar Usuario</button>
      <br><br>
      <a href="/login">Volver página inicio</a>
  </div>

    <!-- Obtener los datos del Usuario  -->
    <iron-ajax auto
      id="getUsuarioById"
      url="http://localhost:3000/apitdm/usuarios/{{id}}"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >

    <!-- Actualizar los datos del Usuario -->
    <iron-ajax
      id="actualizarusuario"
      url="http://localhost:3000/apitdm/cambios/"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showErroract"
    >

    <!-- Borrar Usuario -->
    <iron-ajax
      id="borrarusuario"
      url="http://localhost:3000/apitdm/usuarios"
      handle-as="json"
      content-type="application/json"
      method="DELETE"
      on-response="manageAJAXResponseDel"
      on-error="showErrorDel"
    >

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class GestorModUser extends Polymer.Element {
     static get is() { return 'gestor-modificar-usuario'; }
     static get properties() {
       return {
         nombre: {
           type: String
         },apellido: {
           type: String
         },email: {
           type: String
         },id: {
           type: Number
         }, ver:{
           type: Boolean,
           value: true
         }
       };

     }

     actualizar(e) {
         console.log("El usuario ha pulsado el botón actualizar");
         console.log("Voy a enviar la petición");

         var actualizarData = {
           "nombre": this.nombre,
           "apellido": this.apellido,
           "email" : this.email
         };

         console.log(actualizarData);

         this.$.actualizarusuario.body = JSON.stringify(actualizarData);
         this.$.actualizarusuario.generateRequest();
     }

     manageAJAXResponse(data) {
       console.log("Llegaron los datos");
       console.log(data.detail.response);
       this.color="white"
       this.mensaje = 'Usuario actualizado';

    }

    showData(data) {
      console.log(data.detail.response);

      this.nombre = data.detail.response.nombre;
      this.apellido = data.detail.response.apellido;
      this.email = data.detail.response.email;
      this.password = data.detail.response.password;
     }

     borrar(e) {
        console.log("El usuario ha pulsado el botón borrar");
        console.log("Voy a enviar la petición");

        var borrarData = {
            "id": this.id
        };

        console.log(borrarData);

        this.$.borrarusuario.body = JSON.stringify(borrarData);
        this.$.borrarusuario.generateRequest();
     }

     manageAJAXResponseDel(data) {
       console.log("Llegaron los datos");
       console.log(data.detail.response);

       this.mensaje = 'Usuario borrado';
       this.nombre = " ";
       this.apellido = " ";
       this.email = " ";
       this.password = " ";

    }

     showError(error) {
         console.log("Hubo un error");
         console.log(error);
     }

     showErroract(error) {
         console.log("Hubo un error");
         console.log(error);
     }

     showErrorDel(error) {
         console.log("Hubo un error");
         console.log(error);
     }

   }

   window.customElements.define(GestorModUser.is, GestorModUser);
 </script>
</dom-module>
