<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="gestor-alta">
 <template>
   <style>
     :host {
       display: block;
     }

     .alta {
       background-color: #87CEEB;
       color: white;
       font-weight: bold;

       }
     a {
         color: blue;
         font-weight:bold;
     }
   </style>
   <div hidden$="{{!ver}}"  align="center" bottom="middle">
      <br><br>
      <input placeholder="nombre" type="text" value="{{nombre::input}}"/>
      <br><br>
      <input placeholder="apellido" type="text" value="{{apellido::input}}"/>
      <br><br>
      <input placeholder="email" type="text" value="{{email::input}}"/>
      <br><br>
      <input placeholder="password" type="password" value="{{password::input}}"/>
      <br><br><br>
      <button on-click="alta" class="Button alta">Alta</button>
      <br><br><br>
      <a href="/login">Volver página inicio</a>
    </div>


    <iron-ajax
      id="altausuario"
      url="http://localhost:3000/apitdm/usuarios"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class GestorAlta extends Polymer.Element {
     static get is() { return 'gestor-alta'; }
     static get properties() {
       return {
         id: {
           type: Number
         }, ver:{
           type: Boolean,
           value: true
         }
       };

     }

     alta(e) {
         console.log("El usuario ha pulsado el botón alta");
         console.log("Voy a enviar la petición");

         var altaData = {
           "nombre": this.nombre,
           "apellido": this.apellido,
           "email": this.email,
           "password": this.password
         };

         console.log(altaData);

         this.$.altausuario.body = JSON.stringify(altaData);
         this.$.altausuario.generateRequest();
     }

     manageAJAXResponse(data) {
       console.log("Llegaron los datos");
       console.log(data.detail.response);
       console.log(data.detail.response.id);

       this.id = data.detail.response.id;

       window.location = "/usuario/" + data.detail.response.id;
    }

     showError(error) {
         console.log("Hubo un error");
         console.log(error);
     }

   }

   window.customElements.define(GestorAlta.is, GestorAlta);
 </script>
</dom-module>
