<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"/>

<dom-module id="gestor-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
      a {
          color: blue;
          font-weight:bold;
      }
      .cuentas {
        background-color: #87CEEB;
        color: white;
        font-weight: bold;
       }

      span {color: #FFFFFF;}
      h1 {color: #FFFFFF;}
      h2 {color: #EC7063;}
      th {color: #FFFFFF;}
      td {color: ##21618C;}

    </style>
    <div class="table-responsive" align="center" bottom="middle">

      <h1 style="background-color:#21618C;">Nombre: [[nombre]] </h1>
      <h1 style="background-color:#21618C;">Apellido: [[apellido]] </h1>
      <h1 style="background-color:#21618C;">IBAN: [[iban]] </h1>

    <p>
      [[mensaje]]
    </p>
    <table class="table" style="text-align:center;">
    <thead class="table" style="background-color:#21618C;">
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Importe</th>
        <th scope="col">Operación</th>
        <!-- <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th> -->
      </tr>
    </thead>
    <template is="dom-repeat" items="{{accounts}}">
    <tbody style="background-color:white;">
      <tr>
        <td>{{item.fecha}}</td>
        <td>{{item.importe}}</td>
        <td>{{item.operacion}}</td>
      </tr>
    </tbody>
  </table>
</template>
</div>

    <!-- <template is="dom-repeat" items="{{accounts}}">
        <span>Fecha - {{item.fecha}}</span>
        <span>Importe - {{item.importe}}</span>
        <span>Operación - {{item.operacion}}</span>
        <br>
    </template> -->

    <br><br>
    <button on-click="cuentas" class="Button cuentas">Volver a Cuentas</button>

    <br><br>
    <a href="/login">Volver página inicio</a>

    <iron-ajax auto
      id="getUsuarioById"
      url="http://localhost:3000/apitdm/usuarios/{{idusuario}}"
      handle-as="json"
      on-response="showDataUsuario"
      on-error="showErrorUsuario"
    >

    <!-- <iron-ajax
      id="getMovimientos"
      url="http://localhost:3000/apitdm/movimientosIban/"
      handle-as="json"
      content-type="application/json"
      method="GET"
      on-response="showData"
      on-error="showError"
    > -->

    <iron-ajax
      id="getMovimientos"
      url="http://localhost:3000/apitdm/movimientosIban/{{iban}}"
      handle-as="json"
      content-type="application/json"
      method="GET"
      on-response="showData"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorMovimientos extends Polymer.Element {
      static get is() { return 'gestor-movimientos'; }
      static get properties() {
        return {
          nombre: {
            type: String
          },apellido: {
            type: String
          }, fecha: {
            type: String
          }, importe: {
            type: Number
          }, operacion: {
            type: Number
          }, id: {
            type: Number
          }, iban: {
            type: String
          }, accounts: {
            type: Array
          }
        };
      }

      showDataUsuario(data) {
        console.log(data.detail.response);

        this.nombre = data.detail.response.nombre;
        this.apellido = data.detail.response.apellido;

        var verMovimientos = {
          "IBAN": this.iban
        };

        this.$.getMovimientos.body = JSON.stringify(verMovimientos);
        this.$.getMovimientos.generateRequest();
       }

       showErrorUsuario(error) {
           console.log("Hubo un error");
           console.log(error);
       }

      showData(data) {
        console.log(data.detail.response);

        this.accounts = data.detail.response;
      }

      showError(error) {
        if (error = "404") {
          this.mensaje = 'Cuenta de usuario sin movimientos';
        } else {
          console.log("Hubo un error");
          console.log(error);
        }
      }

      cuentas(e) {
        console.log(e);

        window.location = "/cuentas/" + this.idusuario;
      }


    }

    window.customElements.define(GestorMovimientos.is, GestorMovimientos);
  </script>
</dom-module>
