<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="proyecto-frontend-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <head>
    <script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="import" href="/src/gestor-login/gestor-login.html">

  </head>

  <body>
  <gestor-login></gestor-login>
</body>

  <script>
    /**
     * `proyecto-frontend-app`
     * api front tdm
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ProyectoFrontendApp extends Polymer.Element {
      static get is() { return 'proyecto-frontend-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'proyecto-frontend-app'
          }
        };
      }
    }

    window.customElements.define(ProyectoFrontendApp.is, ProyectoFrontendApp);
  </script>
</dom-module>
