<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="proyecto_frontend-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `proyecto_frontend-app`
     * api front tdm
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class Proyecto_frontendApp extends Polymer.Element {
      static get is() { return 'proyecto_frontend-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'proyecto_frontend-app'
          }
        };
      }
    }

    window.customElements.define(Proyecto_frontendApp.is, Proyecto_frontendApp);
  </script>
</dom-module>
