<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"/>

<dom-module id="gestor-cuentas">

  <template>
    <style>
      :host {
        display: block;
      }
      span {color: #FFFFFF;}
      h1 {color: #FFFFFF;}
      h2 {color: #EC7063;}
      th {color: #FFFFFF;}
      td {color: ##21618C;}
      a {
          color: blue;
          font-weight:bold;
      }
      .crearcuenta {
        background-color: #87CEEB;
        color: white;
        font-weight: bold;
        }
      .ingreso {
        background-color: #87CEEB;
        color: white;
        font-weight: bold;
        }
      .reintegro {
        background-color: #87CEEB;
        color: white;
        font-weight: bold;
        }
      .eliminarcuenta {
        background-color: #87CEEB;
        color: white;
        font-weight: bold;
        }
      .movimientos {
        background-color: #87CEEB;
        color: white;
        font-weight: bold;
        }


    </style>

<!-- // alex ini -->
<div class="table-responsive" align="center" bottom="middle">

  <h1 style="background-color:#21618C;">Nombre: [[nombre]] </h1>
  <h1 style="background-color:#21618C;">Apellido: [[apellido]] </h1>

  <p hidden="true">Id: {{idusuario}} </p>

  <p>
    [[mensaje]]
  </p>

        <table class="table" style="text-align:center;">
        <thead class="table" style="background-color:#21618C;">
          <tr>
            <th scope="col">IBAN</th>
            <th scope="col">Saldo</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <template is="dom-repeat" items="{{accounts}}">
        <tbody style="background-color:white;">
          <tr>
            <td>{{item.IBAN}}</td>
            <td>{{item.balance}}</td>
            <td><button on-click="ingreso" class="Button ingreso">Ingreso</button></td>
            <td><button on-click="reintegro" class="Button reintegro">Reintegro</button></td>
            <td><button on-click="eliminarcuenta" class="Button eliminarcuenta">Eliminar Cta.</button></td>
            <td><button on-click="movimientos" class="movimientos">Movimientos</button></td>
          </tr>
        </tbody>
      </table>
    </template>
</div>

    <!-- <template is="dom-repeat" items="{{accounts}}">
        <span>IBAN - {{item.IBAN}}</span>
        <span>Saldo - {{item.balance}}</span>
        <button on-click="ingreso">Ingreso</button>
        <button on-click="reintegro">Reintegro</button>
        <button on-click="eliminarcuenta">Eliminar Cta.</button>
        <button on-click="movimientos">Movimientos</button>
        <br>
    </template> -->
<!-- //alex fin -->

    <br>
    <button on-click="crearcuenta" class="Button crearcuenta">Crear cuenta</button>

    <br><br>
    <a href="/login">Volver página inicio</a>

    <iron-ajax auto
      id="getUsuarioById"
      url="http://localhost:3000/apitdm/usuarios/{{idusuario}}"
      handle-as="json"
      content-type="application/json"
      method="GET"
      on-response="showDataUsuario"
      on-error="showErrorUsuario"
    >

    <iron-ajax auto
      id="getCuentas"
      url="http://localhost:3000/apitdm/cuentas/{{idusuario}}"
      handle-as="json"
      content-type="application/json"
      method="GET"
      on-response="showData"
      on-error="showError"
    >

    <iron-ajax
      id="altaCuenta"
      url="http://localhost:3000/apitdm/cuentas/"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="showDataAlta"
      on-error="showErrorAlta"
    >

    <iron-ajax
      id="generariban"
      url="https://my.api.mockaroo.com/generariban.json?key=f845f460"
      handle-as="json"
      content-type="application/json"
      method="GET"
      on-response="showDataIban"
      on-error="showErrorIban"
    >

    <iron-ajax
      id="borrarCuenta"
      url="http://localhost:3000/apitdm/cuentas/"
      handle-as="json"
      content-type="application/json"
      method="DELETE"
      on-response="showDataBorrar"
      on-error="showErrorBorrar"
    >


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorCuentas extends Polymer.Element {
      static get is() { return 'gestor-cuentas'; }
      static get properties() {
        return {
          nombre: {
            type: String
          },apellido: {
            type: String
          }, idusuario: {
            type: Number
          },iban: {
            type: String
          },balance: {
            type: Number
          }, accounts: {
            type: Array
          }
        };
      }

      showDataUsuario(data) {
        console.log(data.detail.response);

        this.nombre = data.detail.response.nombre;
        this.apellido = data.detail.response.apellido;
        this.email = data.detail.response.email;
        this.id = data.detail.response.id;
       }

       showErrorUsuario(error) {
           console.log("Hubo un error");
           console.log(error);
       }

      showData(data) {
        console.log(data.detail.response);

        this.accounts = data.detail.response;
      }

      showError(error) {
        if (error = "404") {
          this.mensaje = 'Usuario sin cuenta';
        } else {
          console.log("Hubo un error");
          console.log(error);
        }
      }

      crearcuenta(e) {
          console.log("El usuario ha pulsado el botón Crear Cuenta");
          console.log("Voy a enviar la petición");

          this.$.generariban.generateRequest();
      }

      showDataAlta(data) {
        console.log(data.detail.response);

        window.location = "/cuentas/" + data.detail.response.id;
      }

      showErrorAlta(error) {
          console.log("Hubo un error");
          console.log(error);
      }

      showDataIban(data) {
        console.log(data.detail.response.iban);

        this.iban = data.detail.response.iban;
        console.log("this.iban = ");
        console.log(this.iban);

        var altaCuenta = {
          "email": this.email,
          "iban" : this.iban
        };

        console.log(altaCuenta);

        this.$.altaCuenta.body = JSON.stringify(altaCuenta);
        this.$.altaCuenta.generateRequest();

      }

      showErrorIban(error) {
          console.log("Hubo un error");
          console.log(error);
      }

      ingreso(e){
        console.log("ha pulsado botón Ingreso en una cuenta");
        console.log(e);
        var indice = e.model.index;
        window.location = "/ingreso/" + this.id + "/" + this.accounts[indice].IBAN;
      }

      reintegro(e){
        console.log("ha pulsado botón Reintegro en una cuenta");
        console.log("id =====>  ");
        var indice = e.model.index;
        window.location = "/reintegro/" + this.id + "/" + this.accounts[indice].IBAN;
      }

      eliminarcuenta(e){
        console.log("ha pulsado botón Eliminar cuenta");
        console.log("id =====>  ");
        var indice = e.model.index;
        console.log("Voy a enviar la petición");

        var borrarCuenta = {
          "IBAN": this.accounts[indice].IBAN
        };

        this.$.borrarCuenta.body = JSON.stringify(borrarCuenta);
        this.$.borrarCuenta.generateRequest();
      }

      showDataBorrar(data) {
        console.log(data.detail.response);

        window.location = "/cuentas/" + this.id;
      }

      showErrorBorrar(error) {
          console.log("Hubo un error");
          console.log(error);
      }

      movimientos(e){
        console.log("ha pulsado botón Movimientos en una cuenta");
        var indice = e.model.index;
        window.location = "/movimientos/" + this.accounts[indice].idUsuario + "/" + this.accounts[indice].IBAN;
      }

    }

    window.customElements.define(GestorCuentas.is, GestorCuentas);
  </script>
</dom-module>
