<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../emisor-login/emisor-login.html">
<link rel="import" href="../receptor-login/receptor-login.html">

<dom-module id="gestor-login">
 <template>
   <style>
     :host {
       display: block;
     }
     h1 {color: #FFFFFF;
       /*border-style: solid;*/
       /*border-color: red;*/
       border: thick double #32a1ce;
       margin-right: 500px;
       margin-left: 500px;
     }
     a {
         color: blue;
         font-weight:bold;
     }
   </style>
    <div hidden$="{{!ver}}"  align="center" bottom="middle">
      <h1> Bienvenido a GyABank<h1>
      <emisor-login on-myevent="processEvent"></emisor-login>
    </div>

    <receptor-login id="receiver"></receptor-login>

    <div hidden$="{{!ver}}"  align="center" bottom="middle">
      <br><br>
      <a href="/alta">Alta Usuario</a>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class GestorLogin extends Polymer.Element {
     static get is() { return 'gestor-login'; }
     static get properties() {
       return {
         ver:{
           type: Boolean,
           value: true
        }
       };
     }

     processEvent(e) {
       console.log("Capturado evento del emisor login");
       console.log(e.detail);
       this.$.receiver.email = e.detail.email;
       this.$.receiver.password = e.detail.password;
       this.$.receiver.id = e.detail.id;
       this.ver=false;

     }
   }

   window.customElements.define(GestorLogin.is, GestorLogin);
 </script>
</dom-module>
