<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../receptor-login/receptor-login.html">

<dom-module id="emisor-login">
 <template>
   <style>
     :host {
       display: block;
     }
     .login {
       background-color: #87CEEB;
       color: white;
       font-weight: bold;
       } /* Blue */
   </style>
    <div hidden$="{{!ver}}"  align="center" bottom="middle">
      <input placeholder="email" type="text" value="{{email::input}}"/>
      <input placeholder="password" type="password" value="{{password::input}}"/>
      <br>
      <br>
    <div>

      <button on-click="login" class="Button login">Login</button>

      <p>
        [[mensaje]]
      </p>

   <iron-ajax
     id="postlogin"
     url="http://localhost:3000/apitdm/login/"
     handle-as="json"
     content-type="application/json"
     method="POST"
     on-response="manageAJAXResponse"
     on-error="showError"
   >

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class EmisorLogin extends Polymer.Element {
     static get is() { return 'emisor-login'; }
     static get properties() {
       return {

         email: {
           type: String
         },password: {
           type: String
         },isLogged: {
           type: Boolean,
           value: false
         }, ver:{
           type: Boolean,
           value: true
         }
       };
     }

     login(e) {
         console.log("El usuario ha pulsado el botón Login");
         console.log("Voy a enviar la petición");

         var loginData = {
           "email": this.email,
           "password": this.password
         };

         console.log(loginData);

         this.$.postlogin.body = JSON.stringify(loginData);
         this.$.postlogin.generateRequest();
     }

     manageAJAXResponse(data) {
       console.log("Llegaron los datos");
       console.log(data.detail.response);

       if (data.detail.response.id > 0) {

         this.isLogged = true;
         this.receiver = data.detail.response.id;

         console.log("receiver = ");
         console.log(this.receiver);

         this.id = data.detail.response.id;

         sessionStorage.setItem("idsession", data.detail.response.id);
         console.log("idsession = " + data.detail.response.id);

         console.log("Petición enviada");

         this.dispatchEvent(
            new CustomEvent(
              "myevent",
              {
                "detail" : {
                  "email" : this.email,
                  "password" : this.password,
                  "id" : data.detail.response.id
              }
            }
          )
         );
         this.ver=false;
       } else {
         console.log("Usuario no existe");
         this.mensaje = 'Usuario no existe';
       }
     }

     showError(error) {
         console.log("Hubo un error");
         console.log(error);
         this.mensaje = 'Usuario/Password incorrecta';
     }
   }


   window.customElements.define(EmisorLogin.is, EmisorLogin);
 </script>
</dom-module>
