<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="gestor-ingreso">
 <template>
   <style>
     :host {
       display: block;
     }
     p {color: #FFFFFF;}
     span {color: #FFFFFF;}
     h1 {color: #FFFFFF;}
     h2 {color: #EC7063;}
     .ingreso {
       background-color: #87CEEB;
       color: white;
       font-weight: bold;
     }
     .cuentas {
       background-color: #87CEEB;
       color: white;
       font-weight: bold;
      }

      a {
        color: blue;
        font-weight:bold;
      }

   </style>
   <div align="center" bottom="middle">
      <br><br>
      <p>IBAN: [[iban]] </p>
      <p hidden = "true">Id: [[idusuario]] </p>
      <br>
      <input placeholder="importe" type="number" value="{{importe::input}}"/>
      <br><br>
      <button on-click="ingreso" class="Button ingreso">Ingresar en cuenta</button>
      <br><br>
      <button on-click="cuentas" class="Button cuentas">Volver a Cuentas</button>

      <br><br><br>
      <a href="/login">Volver página inicio</a>
  </div>

    <iron-ajax
      id="ingreso"
      url="http://localhost:3000/apitdm/ingresos"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class GestorIngreso extends Polymer.Element {
     static get is() { return 'gestor-ingreso'; }
     static get properties() {
       return {
         iban: {
           type: String
         }, importe:{
           type: Number
         }
       };
     }

     ingreso(e) {
         console.log("El usuario ha pulsado el botón ingreso");
         console.log("Voy a enviar la petición");

         var ingresoData = {
           "IBAN": this.iban,
           "importe": this.importe
         };

         console.log(ingresoData);

         this.$.ingreso.body = JSON.stringify(ingresoData);
         this.$.ingreso.generateRequest();
     }

     manageAJAXResponse(data) {
       console.log("Llegaron los datos");
       console.log(data.detail.response);

       window.location = "/cuentas/" + this.idusuario;
    }

     showError(error) {
         console.log("Hubo un error");
         console.log(error);
     }

     cuentas(e) {
       console.log(e);

       window.location = "/cuentas/" + this.idusuario;
     }

   }

   window.customElements.define(GestorIngreso.is, GestorIngreso);
 </script>
</dom-module>
