<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="gestor-reintegro">
 <template>
   <style>
     :host {
       display: block;
     }
      p {color: #FFFFFF;}

     .reintegro {
       background-color: #87CEEB;
       color: white;
       font-weight: bold;
      }
      .cuentas {
        background-color: #87CEEB;
        color: white;
        font-weight: bold;
      }

   </style>
    <div align="center" bottom="middle">
      <br><br>
      <p>IBAN: [[iban]] </p>
      <p hidden = "true">Id: [[idusuario]] </p>
      <br>
      <input placeholder="importe" type="number" value="{{importe::input}}"/>
      <br><br>
      <button on-click="reintegro" class="Button reintegro">Reintegro en cuenta</button>
      <br><br>
      <button on-click="cuentas" class="Button cuentas">Volver a Cuentas</button>

      <br><br><br>
      <a href="/login">Volver página inicio</a>
    </div>

    <iron-ajax
      id="reintegro"
      url="http://localhost:3000/apitdm/reintegros"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class GestorReintegro extends Polymer.Element {
     static get is() { return 'gestor-reintegro'; }
     static get properties() {
       return {
         iban: {
           type: String
         }, importe:{
           type: Number
         }
       };

     }

     reintegro(e) {
         console.log("El usuario ha pulsado el botón reintegro");
         console.log("Voy a enviar la petición");

         var reintegroData = {
           "IBAN": this.iban,
           "importe": this.importe
         };

         console.log(reintegroData);

         this.$.reintegro.body = JSON.stringify(reintegroData);
         this.$.reintegro.generateRequest();
     }

     manageAJAXResponse(data) {
       console.log("Llegaron los datos");
       console.log(data.detail.response);

      //  window.location = "/cuentas/" + data.detail.response.id;
      window.location = "/cuentas/" + this.idusuario;
    }

     showError(error) {
         console.log("Hubo un error");
         console.log(error);
     }

     cuentas(e) {
       console.log(e);

       window.location = "/cuentas/" + this.idusuario;
     }

   }

   window.customElements.define(GestorReintegro.is, GestorReintegro);
 </script>
</dom-module>
