<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../gestor-logout/gestor-logout.html">

<dom-module id="receptor-login">
 <template>
   <style>
     :host {
       display: block;
     }
     h3 {color: #FFFFFF;}
     p {color: #FFFFFF;}
     span {color: #FFFFFF;}
     h1 {color: #FFFFFF;}
     h2 {color: #EC7063;}
     th {color: #FFFFFF;}
     td {color: ##21618C;}

     .logout {
         background-color: #87CEEB;
         color: white;
         font-weight: bold;
      } /* Blue */
     .Modusuario {
         background-color: #87CEEB;
         color: white;
         font-weight: bold;
      } /* Blue */
     .cuentas {
         background-color: #87CEEB;
         color: white;
         font-weight: bold;
      } /* Blue */



   </style>
   <div hidden$="{{ver}}" align="center" bottom="middle">
     <h3>Bienvenido/a de nuevo:</h3>
     <p>Nombre: [[nombre]] </p>
     <p>Apellido: [[apellido]] </p>
     <p>Email: [[email]] </p>


       <button on-click="logout" class="Button logout">Logout</button>

       <button on-click="Modusuario" class="Button Modusuario">Modificar Datos Usuario</button>

       <button on-click="Cuentas" class="Button Cuentas">Cuentas</button>



     <br>
     <br>
     <a href="/login">Volver página inicio</a>
   </div>

   <iron-ajax
     id="getUsuarioById"
     url="http://localhost:3000/apitdm/usuarios/{{id}}"
     handle-as="json"
     on-response="showData"
     on-error="showError"
   >

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class ReceptorLogin extends Polymer.Element {
     static get is() { return 'receptor-login'; }
     static get properties() {
       return {
         nombre: {
           type: String
         },apellido: {
           type: String
         },email: {
           type: String
         },id: {
           type: Number,
           observer: '_courseChanged'
         }, ver:{
           type: Boolean,
           value: true
         }
       };
     }
     _courseChanged(newValue, oldValue) {
       console.log("En receptor-login: Course value has changed en receptor login");
       console.log("oldValue");
       console.log(oldValue);
       console.log("newValue");
       console.log(newValue);

       if (newValue > 0) {
         this.$.getUsuarioById.generateRequest();
       }
       console.log("fin _courseChanged del receptor-login");
      }

     showData(data) {

       console.log(data.detail.response);

       this.nombre = data.detail.response.nombre;
       this.apellido = data.detail.response.apellido;
       this.email = data.detail.response.email;
       this.ver=false;
     }

     logout(e){
       console.log("ha pulsado botón logout");
       window.location = "/logout/" + this.id;
     }

     Modusuario(e){
       console.log("ha pulsado botón Modificar Datos Usuario");
       window.location = "/modusuario/" + this.id;
     }

     Cuentas(e){
       console.log("ha pulsado botón Cuentas");
       window.location = "/cuentas/" + this.id;
     }

    showError(error) {
      console.log("Hubo un error");
      console.log(error);
    }
   }


   window.customElements.define(ReceptorLogin.is, ReceptorLogin);
 </script>
</dom-module>
