<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="gestor-logout">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>

   <iron-ajax auto
     id="logout"
     url="http://localhost:3000/apitdm/logout/{{id}}"
     method="POST"
     on-response="manageAJAXResponse"
     on-error="showError"
   >
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class GestorLogout extends Polymer.Element {
     static get is() { return 'gestor-logout'; }
     static get properties() {
       return {
         id:{
           type: Number
         },ver:{
           type: Boolean,
           value: true
        }
       };
     }

     manageAJAXResponse(data) {
       console.log(data.detail.response);
       window.location = "/login";
     }

    showError(error) {
      console.log("Hubo un error");
      console.log(error);
    }

   }

   window.customElements.define(GestorLogout.is, GestorLogout);
 </script>
</dom-module>
